<% include ./partials/header %>
<% include ./partials/navbar %>


<form>
	<div class="main">
		<div class="container">
			<div class="row">
				<h1> Contact me: </h1>
				<div class="col-10">
					<div class="form-group">
						<label for="exampleFormControlInput1">Email address</label>
						<input type="email" class="form-control" placeholder="name@example.com">
					</div>
					<div class="form-group">
						<label for="exampleFormControlTextarea1">Message</label>
						<textarea class="form-control" rows="6"></textarea>
					</div>
					<button type="button">Send</button>
				</div>
			</div>
		</div>
	</div>
</div>


</form>

<% include ./partials/footer %>
