<% include ./partials/header %>

<div class="main">
  <div class="row">
    <div class="col-8">
      <img src="https://image.shutterstock.com/display_pic_with_logo/1660264/378840517/stock-photo-a-pug-portrait-the-dog-is-a-puppy-image-taken-in-a-studio-378840517.jpg" width="250px" height="200px">
      <h1>hi, I'm Nicole.</h1>
      <h2>Innovation is my passion.<br> I build & design full stack web applications.</h2>
    </div>
    <div class="skills-col-4">
      <h5>Skills</h5>
      <div class="left-skills">
        <p>Javascript<br>Node.js<br>Express<br>Ruby<br>Rails<br>React<br>Redux<br><p>
        </div>
        <div class="right-skills">
          <p>Sinatra<br>PostgreSQL<br>MongoDB<br>Elixir<br>Phoenix<br>Github<br>HTML<br>CSS</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3">
      <a class="btn btn-outline-info btn-lg" href="/resume">Resume</a>
    </div>
    <div class="col-3">
      <a class="btn btn-outline-info btn-lg" href="/projects">Projects</a>
    </div>
    <div class="col-3">
      <a class="btn btn-outline-info btn-lg" href="mailto:nicole.zelingher@gmail.com?Subject=Connect">Contact</a>
    </div>
    <div class="col-3">
      <a href="https://github.com/nikklz" class="fab fa-github"></a>
      <a href="https://www.linkedin.com/in/nzelingher/" class="fab fa-linkedin-in"></a>
    </div>
  </div>	
  
<% include ./partials/footer %>
